.excel-table {
    overflow: auto;
}

.excel {
    margin: 0 auto;
    width: 100%;
    height: 60%;
    position: relative
}

.excel-table table tr {
    /*line-height: 35px*/
}

.excel-table table td {
    border: #ccc 1px solid;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60px;
    font-family: 微软雅黑;
}

.excel-table table td:focus {
    outline: 0;
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(73, 177, 249, .5)
}

.td-chosen-css {
}

.td-chosen-muli-css {
    background-color: rgba(0, 94, 255, 0.1);
}

.col-width-panel, .row-height-panel, .chosen-area-p, .rightmouse-panel-div, .chosen-area-p div {
    position: absolute
}

.col-width-panel div {
    width: 8px;
    position: absolute;
    cursor: col-resize;
    z-index: 999;
}

.row-height-panel div {
    height: 8px;
    position: absolute;
    cursor: row-resize;
    z-index: 999;
}

.drug-ele-td {
    background-color: #f0f0f0 !important;
    cursor: pointer
}

.rightmouse-panel-div {
    background-color: #fff;
    border: 1px solid #bbd8e5;
    border-radius: 4px;
    z-index: 9;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    position: fixed;
}

.rightmouse-panel-div .wb {
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 13px;
    padding-left: 7px;
    cursor: pointer;
}

.rightmouse-panel-div .wb:hover {
    background-color: #f0f8ff
}

.panel-div-left, .panel-div-right {
    float: left
}

.panel-div-left {
    border-right: 1px solid #bbd8e5
}

.excel-rightmomuse-icon-css {
    display: inline-block;
    width: 20px
}

.excel-rightmomuse-icon-next-css {
    margin-left: 33px;
    font-size: 18px;
    color: #795548
}

.setting .setting-text {
    color: #e91e63
}

.setting .setting-input {
    margin-left: 4px
}

.setting .setting-item {
    margin-right: 7px
}

.setting input {
    width: 35px
}

.chosen-area-p {
    background-color: #5292F7
}

.chosen-area-p-drug {
    cursor: crosshair
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    border-width: 0;
    table-layout: fixed;
    width: 0;
    outline-width: 0;
    cursor: default;
    max-width: none;
    max-height: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonBgColor {
    background-color: #ddd !important;
}

.hr {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.selectTd {
    background-color: #fff;
    /*border: 1px solid #5292F7!important;*/
}

.whiteSpaceTrue {
    white-space: normal !important;
}

.selectBorderStyle {
    position: absolute;
    top: 30px;
    background-color: #fff;
    display: none;
    z-index: 999;
    width: 100px;
    border: 1px solid #ccc;
    left: -40px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border-radius: 3px;
    border-bottom: 0px;
}

.show {
    display: block;
}
.borderStyleOption{
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.thead :nth-child(1) {
    background-color:#fff !important;
}
.tableLeftTop{
    position: fixed;
    top: 128px;
    width: 62px;
    height: 25px;
    z-index: 999;
    background: #fff;
    text-align: center;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
